body {
	background-color: #{$color-background}fa;
	padding-top: 2rem;
}

%defaultLabel {
	label {
		position: relative;
		width: 100%;

		@include flex(row, center, center, 0.8rem);

		input {
			width: 100%;
			height: 4.7rem;

			background-color: $color-secondary-background;
			border-radius: 5rem;

			font-size: 1.4rem;
			color: $color-secondary;

			border: solid 1px $color-tertiary-background;

			*::placeholder {
				color: $color-tertiary-background;
			}

			transition: 0.32s;

			&:hover {
				border-width: 2px;
			}

			&:focus {
				border-color: $color-secondary;
			}
		}

		svg {
			position: absolute;
			left: 1rem;
			color: $color-tertiary-background;
		}

		svg + input {
			padding-left: 4.5rem;
		}
	}
}

.modal {
	position: fixed;
	z-index: z('modals');
	inset: 0;
	top: 3rem;
	width: 100%;
	height: 100%;
	transition: 0.32s;

	&.warningModal {
		background-color: #{$color-warning}22;
		animation: shakeBox 0.32s ease-in-out;

		@keyframes shakeBox {
			0% {
				transform: translateX(3px);
			}
			50% {
				transform: translateX(-3px);
			}
			100% {
				transform: translateX(0);
			}
		}
	}

	&__box {
		position: absolute;
		inset: 0;
		margin: auto auto;

		width: 100%;
		max-width: 77.7rem;
		height: 49.6rem;

		padding: 2rem;
		background-color: $color-secondary-background;
		border: solid 1px $color-tertiary-background;

		box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.25);
		border-radius: 1.5rem;

		animation: modal-box-fade-in 0.32s ease-in-out;
		animation-fill-mode: forwards;

		transform: translateY(20px);
		opacity: 0;
		z-index: 2;

		@keyframes modal-box-fade-in {
			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}

	&__actions {
		position: absolute;
		right: 2rem;
		top: 2rem;

		color: $color-secondary;

		@include flex(row, center, flex-start, 2.5rem);
	}

	&__icon {
		font-size: 1.5rem;
		cursor: pointer;
		transition: 0.32s;

		&:hover {
			color: $color-primary;
		}
	}

	&__content {
		&__title {
			display: block;
			font-size: 1.8rem;
			font-weight: bold;
			color: $color-primary;
			font-family: $font-primary;
			margin-bottom: 1.8rem;
			max-width: 64%;
		}

		&__wrapper {
			@extend %scroll;
			max-height: 41rem;
			overflow: overlay;
		}
		&__text {
			font-size: 1.4rem;
			line-height: 160%;
			color: $color-secondary;
			padding-right: 4rem;
			padding-bottom: 4rem;
		}
	}

	&__close {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.485);

		animation: transition-opacity-close-modal 0.32s ease-in-out;
		animation-fill-mode: forwards;

		opacity: 0;

		@keyframes transition-opacity-close-modal {
			100% {
				opacity: 1;
			}
		}
	}

	@include media('<=sm_tablet') {
		&__box {
			max-width: 95vw;
		}

		// &__content {
		// 	&__title {
		// 		padding-top: 4rem;
		// 	}
		// }
	}
}
